.text-davinci-002{
    background-color: #f37735;
}

.text-curie-001{
    background-color: #d11141;
}

.text-babbage-001{
    background-color: #00aedb;
}

.text-ada-001{
    background-color: #00b159;
    
}